# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# NestJS build
dist/
coverage/

# Prisma generated client
src/generated/prisma/

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# JetBrains
.idea/
*.iml

# OS
.DS_Store
Thumbs.db